ion-content{
    --offset-top: 0px;
    position: absolute;
}
ion-accordion {
    width: 90%;
    margin: auto;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: #ffdddd;

    ion-item{
        --ion-background-color: #ffdddd;
    }
}


.acc-item {
    padding: 16px 0;
}

ion-skeleton-text {
    --border-radius: 30px;
  }