<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-content>
<div class="animation">
  <!-- <div class="heading"> You're Offline <br> <div>Your Device is currently not connected to internet make sure you connect to internet </div> </div> -->
  <lottie-player src="../../../assets/anim/no-internet.json"  style="width: 90%;height: 40%; margin: 0 auto;" autoplay loop></lottie-player>
  <div class="heading ion-text-center"> You're Offline <br> <div>Your Device is currently not connected to internet make sure you connect to internet </div> </div>
</div>

</ion-content>
