<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Car Service</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="animation">
    <!-- <div class="heading"> You're Offline <br> <div>Your Device is currently not connected to internet make sure you connect to internet </div> </div> -->
    <lottie-player src="../../../assets/anim/under-construction.json"  style="width: 90%;height: 40%; margin: 0 auto;" autoplay loop></lottie-player>
    <div class="heading ion-text-center"> This Page is Under Development <br> <div>We will launce this service as soon as possible. Thank you.</div> </div>
  </div>
  
  </ion-content>