<ion-header>
  <ion-toolbar color="primary">
    <ion-title>claim</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="amination" *ngIf="noQuestionFlag">
    <lottie-player src="../../../assets/anim/not-found.json"  style="width: 90%;height: 40%; margin: 0 auto;" autoplay loop></lottie-player>
    <div class="heading ion-text-center"> No Claim Found for this product.<br> <div>Please call our office on 03450774177 for further assistance. </div> </div>
    <ion-button (click)="onClickCallUs()" expand="block" shape="round" style="width: 50%; margin: 20px auto;" >
      Call Us
    </ion-button>
  </div>

  <div class="item-container" *ngIf="!skeltonFlag" style="margin-top: 70px;">
    <ion-item color="secondary" lines="none" class="no-padding">
      <ion-thumbnail slot="start" style="width: 100px; height: 100px; padding: 0px;">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <p>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>

    <ion-item color="secondary" lines="none"  class="ion-text-center ion-padding">
      <ion-label>
        <p>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></ion-label>
    </ion-item>
    <ion-item lines="none">
      <div class="radio-group">
        <ion-thumbnail>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-thumbnail>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </div>
    </ion-item>
  </div>

  <ion-grid fixed style="margin-top: 70px;" *ngIf="questions && questions.length">
    <ion-row>
      <ion-col size="4">
        <lottie-player src="../../../assets/anim/247man.json"  background=""  speed="1" loop autoplay></lottie-player>
      </ion-col>
      <ion-col color="medium" size="8" style="padding-right: 5%;">
        <p color="dark" id="bubble" class="speech-bubble animate__animated animate__bounceIn">{{s.Question}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
       <ion-slides [options]="slidesOpts" (ionSlideWillChange)="onSlidesChanged()" (ionSlideDidChange)="onSlidesDidChange()">
        <ion-slide *ngFor="let slide of questions">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="12" class="ion-text-center ion-padding" style="color: #bca4a4;">{{s.Information}}</ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <form [formGroup]="claimForm">
                  <div class="qType" *ngIf="slide.Type=='Yes/No'">
                    <ion-list>
                      <ion-radio-group name="auto" formControlName="{{slide.ID}}">
                        <ion-list-header class="ion-no-padding">
                          <ion-label>Please Select.</ion-label>
                        </ion-list-header>
                        <div class="radio-group">
                          <ion-item color="medium">
                            <ion-label>Yes</ion-label> &nbsp; &nbsp;
                            <ion-radio value="Yes"></ion-radio>
                          </ion-item>
                          <ion-item color="medium">
                            <ion-label>No</ion-label> &nbsp; &nbsp;
                            <ion-radio value="No"></ion-radio>
                          </ion-item>
                        </div>
                      </ion-radio-group>
                    </ion-list>
                  </div>
                  <div class="qType" *ngIf="slide.Type=='TextField'">
                    <ion-input type="text" placeholder="Type Your Answer Here" formControlName="{{slide.ID}}"></ion-input>
                  </div>
                  <div class="qType" *ngIf="slide.Type=='Dropdown'">
                    <ion-item>
                      <ion-label>Please Select one option.</ion-label><br>
                      <ion-select interface="action-sheet"  placeholder="Please Select" formControlName="{{slide.ID}}">
                        <ng-container *ngFor="let o of slide.Options.split('$')">
                          <ion-select-option value="{{o}}" >{{o | titlecase}}</ion-select-option>
                        </ng-container>
                      </ion-select>
                    </ion-item>
                  </div>
                  <div class="qType" *ngIf="slide.Type=='MultilineTextBox'">
                  <ion-textarea formControlName="{{slide.ID}}" placeholder="Describe Your Issues."></ion-textarea>
                  </div>
                </form>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
       </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>

<ion-footer>
  <ion-toolbar color="secondary" style="padding: 15px 0;">
    <div class="footer align-items-center justify-content-space-between"  *ngIf="(questions && questions.length)">
      <ion-button style="width: 120px;" strong shape="round" color="dark"
        [disabled]="isBeginning" (click)="onBackButtonTouched()" >
        <span>Back</span>
        <ion-icon slot="start" name="chevron-back"></ion-icon>
      </ion-button>
      <ion-button style="width: 120px;" strong shape="round" color="primary" [disabled]="" [hidden]="isEnd || isFinalEnd"
        (click)="onNextButtonTouched()">
        <ion-icon slot="end" name="chevron-forward"></ion-icon>
        <span>Next</span>
      </ion-button>
      <ion-button *ngIf="isEnd" strong shape="round" color="success"
      (click)="onSubmitTouched()">
      <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
      <span>Submit</span>
      </ion-button>
      <ion-button *ngIf="isFinalEnd" strong shape="round" color="success"
      (click)="onFinalSubmitTouched()">
      <ion-icon slot="end" name="checkmark-done-outline"></ion-icon>
      <span>Log Claim</span>
      </ion-button>
    </div>
    <div class="footer align-items-center justify-content-space-between"  *ngIf="!skeltonFlag">
      <ion-thumbnail style="width: 120px; border-radius: 50px; padding: 0;">
        <ion-skeleton-text [animated]="true" style="height: 70%; border-radius: 50px;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-thumbnail style="width: 120px; border-radius: 50px; padding: 0;">
        <ion-skeleton-text [animated]="true"  style="height: 70%; border-radius: 50px;"></ion-skeleton-text>
      </ion-thumbnail>
    </div>
  </ion-toolbar>

</ion-footer>
