<ion-header>
  <ion-toolbar #toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" [appFadeHeader]="toolbar" [appFadeImage]="image" [productData]="productData">

  <div class="top">
    <ion-card class="header-card" #image>
        <lottie-player src="../../../assets/anim/payment.json"  background="#dd2127" speed="0.5" loop autoplay></lottie-player>
        <h3>Pay &pound;{{access_value}}</h3>
    </ion-card> 
  </div>

  <div class="bottom">
    <h3 class="bottom-title">Enter Your Payment Details</h3>
    <form  [formGroup]="form" (ngSubmit)="payClick()">
      <ion-card color="secondary">
        <!-- <div> 
          <p>Email</p>
          <ion-item  lines="none" >
            <ion-label class="icon-label"><ion-icon name="mail-outline"></ion-icon></ion-label>
            <ion-input  type="text" placeholder="e.g. john.miller@xyz.com" formControlName="email" ></ion-input>
          </ion-item>
        </div>
  
        <div class="errorMsg" *ngIf="Email.errors?.['required'] && (Email.touched || Email.dirty)">
          *Email is Required
        </div>
        <div class="errorMsg" *ngIf="Email.errors?.['email'] "> 
          *Email is Invalid
        </div> -->
    
        <div>
          <p>Card Number</p>
          <ion-item  lines="none" >
            <ion-label class="icon-label"><ion-icon name="card-outline"></ion-icon></ion-label>
            <ion-input type="tel" maxlength="19" minlength="19" placeholder="e.g. 4242 XXXX XXXX XXXX" formControlName="cardNumber" [value]="form.get('cardNumber').value | space"></ion-input>
          </ion-item>
        </div>
        <div class="errorMsg" *ngIf="cardNo.errors?.['required'] && (cardNo.touched || cardNo.dirty)">
          *Card Number is Required
        </div>
        <div class="errorMsg" *ngIf=" (cardNo.dirty && cardNo.invalid)">
          *Card number must be 16 digits
        </div>
  
        <div>
          <ion-row>
            <ion-col size="7" >
              <p>Expiry</p>
              <ion-item lines="none">
                <!-- <ion-input type="number" placeholder="MM / YY" maxlength="9" formControlName="exDate"  value="{{ date | date: 'MM / YY' }}" id="dt"></ion-input> -->
                  <ion-select value="MM" interface="popover" placeholder="MM" formControlName="expMonth">
                    <ion-select-option *ngFor="let item of [].constructor(12); let i = index" value="{{i+1}}">{{i+1 | number:'2.0'}}</ion-select-option>
                  </ion-select>
                  <ion-select value="YYYY" interface="popover" placeholder="YYYY" formControlName="expYear">
                    <ion-select-option *ngFor="let y of currentYears" value="{{y}}">{{y}}</ion-select-option>
                  </ion-select>
              </ion-item>
              <div class="errorMsg" *ngIf="(expMonth.errors?.['required'] && (expMonth.dirty)) || (expYear.errors?.['required'] && (expYear.dirty))" >
                *Required
              </div>
            </ion-col>
  
      
            <ion-col size="5">
              <p>CVV/CVC</p>
              <ion-item  lines="none" >
                <ion-input type="number" placeholder="e.g. 123" maxlength="3" formControlName="cvv"></ion-input>
              </ion-item>
              <div class="errorMsg" *ngIf="Cvv.errors?.['required'] && (Cvv.dirty || Cvv.touched )">
                *Required
              </div>
            </ion-col>
          </ion-row>
        </div>
      
        <div>
          <p>Card Holder Name</p>
          <ion-item  lines="none" >
            <ion-label class="icon-label"><ion-icon name="person-outline"></ion-icon></ion-label>
            <ion-input type="text" placeholder="e.g. jonh miller" formControlName="name"></ion-input>
          </ion-item>
        </div>
        <div class="errorMsg" *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">
          *Card Holder Name is Required
        </div>
  
        <div> 
          <p>Address Line 1</p>
          <ion-item  lines="none" >
            <ion-label class="icon-label"><ion-icon name="reorder-four-outline"></ion-icon></ion-label>
            <ion-input  type="text" placeholder="optional" formControlName="address1" ></ion-input>
          </ion-item>
        </div>
  
        <div> 
          <p>Address Line 2</p>
          <ion-item  lines="none" >
            <ion-label class="icon-label"><ion-icon name="reorder-four-outline"></ion-icon></ion-label>
            <ion-input  type="text" placeholder="optional" formControlName="address2" ></ion-input>
          </ion-item>
        </div>
      
        <div id="pay">
          <ion-button shape="round" type="submit" [disabled]="!form.valid">Proceed to confirm</ion-button>
        </div>
      </ion-card>
    </form>
  </div>




</ion-content>
